.ttl{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
}


.form-area{
    margin-top: 10px;
}

label{
    display: inline-block;
    font-size: 15px;
    vertical-align: top;
    width: 150px;
}
.sub{
    text-align: center;
    margin-top: 10px;
}
