{% extends 'myapp/base.html' %}



{% block header-title %}
    {% if toke_fail %}不正トークン{% else %}パスワードリセット{% endif %}
{% endblock %}


    
{% block content %}
    {% if token_fail %}
        {% url 'account_rest_password' as passwd_rest_url %}
        <p>このパスワード用リセットリンクは無効になっています<a href="{{passwd_rest_url}}">パスワードリセット再申請</a></p>
    {% else %}
        {% if form %}
            <form method="post" action="{{action_url}}">
                {%csrf_token%}
                {{form.as_p}}
                <button type="submit">変更</button>
            </form>
        {% else %}
            <p>パスワードは変更されています</p>
        {% endif %}
    {% endif %}
  
    
{% endblock %}